
/* Defines flex ratios ----------------------------------------------------------*/
header {
    display: flex; /* Applies flex to header, later used to set flex width ratios. */
    gap: 10px;
}

.logo {
    flex: 1; /* Sets flex ratio between logo, nav, and search containers. */
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-container {
    border: 1px solid black;
    display: flex; /* Vertically centers the container to fit parent container.*/
    flex-direction: column;
    flex: 9;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

}

.search-container {
    flex: 2; /* Vertically centers the container to fit parent container.*/
}
/* Defines flex ratios ----------------------------------------------------------*/

/* Defines styles and positioning of Navbar Links -------------------------------*/
.nav ul {
    /* This targets the ul to make it display in a row rather than in
       column, to visually display the links horizontally across the page.
       */
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 10px;
}

.nav ul li {
    /**/
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
}
/* Defines styles and positioning of Navbar Links -------------------------------*/

/* Defines styles and positioning of Searchbar and Links ------------------------*/
.search-container .nav {
    margin-bottom: 10px;
}

.search-container a {
    border-width: 2px
}

.search-bar {
    display: flex;
}

.search-bar input {
    flex: 1;
}

.fa-search {
    align-items: center;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
}

/* Remove focus outline and border highlight */
input[type="search"]:focus,
input[type="text"]:focus {
    outline: none;       /* Removes the default outline */
    box-shadow: none;    /* Removes glow in some browsers */
}
/* Defines styles and positioning of Searchbar and Links ------------------------*/

.active-navLink, .active-overlay {
    /*background-color: #F1F3E0;*/
    border: 2px solid lightsalmon;
}

