@media (max-width: 1107px) {

    /* Removing all three divs puts the element within each in line with rest of the .nav anchors.
       - Initially wanted to remove the each divs content out of parents as a way to display, the
         anchors visually uniformly.
    .nav-container {
        display: contents;
    }

    #search-nav {
        display: contents;
    }

    .search-container {
        display: contents;
    }

    .logo {
        flex: 0;
    }

    .nav {
        flex: 4;
    }
    */

    header {
        flex-direction: column;
        height: 100%;
        overflow: auto;
        position: absolute;
        width: 60%;
    }

    /*#top-nav {*/
    /*    flex: 0;*/ /* No effect on cross-axis where flex-direction is column. */
    /*}*/

    #top-nav ul {
        flex-direction: column;
    }

    #top-nav ul li {
        justify-content: flex-start;
        /*padding-left: 20px;*/
    }

    #top-nav ul li a {
        font-size: 1em;
        padding-left: 20px;
        width: 100%;

    }

    .search-container {
        display: none;
        /** flex: 0; */ /** No effect on cross-axis where flex-direction is column. */
    }

    .search-bar {
        display: none; /* Temporary hidden. */
        position: absolute; /* Removes the search input to put the anchors in line with .nav anchors. */
        top: 150px;
    }

    #search-nav  {
        margin: 5px;  /* Vertically pushes the anchors to the center. */
    }

    #search-nav ul {
        flex-direction: column;
    }

    #search-nav ul li {
        justify-content: flex-start;
        margin: -5px; /* ~!IMPORTANT: Not sure where else in code is affecting margin. */
    }

    /* Had to manually add margins to the second list item to match #top-nav anchors. */
    #search-nav ul li:nth-child(2) {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #search-nav ul li a {
        width: 100%;
        padding-left: 20px;
    }

    /*
    #top-nav {
        order: 3;
    }

    .nav-container {
        order: 1;
    }

    .logo {
        order: 0;
    } */

    .subNav {
        flex-direction: column;
        padding: 0;
        top: 75px;
        width: calc(100% - 20px);
    }

    .subNav a {
        display: flex;
        padding-left: 20px;
    }

    .column {
        border: 2px solid green;
    }

    /* Does not correctly selects anchor.*/
    /*.subNav li a:nth-child(1)::after {*/
    /*    content: "\2192";*/
    /*}*/

    .subNav ul > li:first-child {
        font-weight: bold;
    }

    .subNav ul > li:first-child > a {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .subNav ul > li:first-child > a::after {
        background: url('../images/chevron-right.png') no-repeat center;
        background-size: contain;
        content: "";
        height: 18px;
        padding-right: 5px;
        width: 18px;
    }

    .subNav ul > li:first-child > a.open::after {
        transform: rotate(90deg); /* rotates right arrow down */
    }
}

@media (min-width: 1108px) {
    .search-container {
        flex: 2; /* Vertically centers the container to fit parent container.*/
        max-width: 193px;   /** Commented out, conflict with media query mobile menu. */
    }

    .nav-container {
        flex: 9;  /** Commented out, conflicts with media query. */
    }
}