* {
    box-sizing: border-box;
    margin: 0;
    /*outline: 1px solid green;*/
    padding: 0;
    /*scrollbar-width: none;*/
}

.sticky-container, html {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sticky-content {
    flex: 1;
}

body {
    margin: 0 auto;
    width: 90%;
}

/* In mobile viewport, the vertical navigation seemed to have overflowed out of the
   body's height. I tested it when I added more nav links and can confirm overflow.
   - The solution below solves the issue, with setting an overflow: auto.
   - I included the scrollbar-width: none, for aesthetics, visually better.
   QUESTION:
   - Why doesn't the setting  in 'body' where set to min-height: 100vh solves the
     overflow issue?
   */
header {
    border: 1px solid blue;
    padding: 10px;
    /* Removed overflow as it was causing unexpected behavior, where
       .trending-searches div was hiding behind the html body,
       - header was clipping the div.*/
    /*overflow: auto;*/ /* Moved this to the responsive-header.css file for mobile viewport. */
    scrollbar-width: none;
}

main {
    border: 1px solid red;
}

footer {
    border: 1px solid black;
}

ul {
    list-style: none;
}

li {
    border: 1px solid green;
}

a {
    text-decoration: none;
    border: 1px solid red;
}

a:hover {
    background-color: #FFF8DE;
}

a:active {
    background-color: #AAC4F5;
}


